# Base packages.
certifi
distributed

# Introspection.
pycallgraph

# Scientific computing.
deap
picos
sima
tpot

# Visualization.
plotly

# APIs.
awscli
mechanize
tweepy

# Packages not available on OS X.
# starcluster
# opencv
